<div class="list-create-short">
<%= form_for list, remote: true do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Enter list name" %>
  </div>
  <div>
    <%= f.submit "Make a list", class: "button" %>
  </div>
<% end %>
</div>
