<div>
<%= form_for @list do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.submit "Make a list" %>
  </div>
<% end %>
</div>