(function($){
  $(function(){
    $("#sender").val("");
    $("#receiver").val("");
    $("#message").val("");
    $("<div>Email sent</div>").purr({ 
      fadeInSpeed: 200, 
      fadeOutSpeed: 2000, 
    removeTimer: 5000 });
  });
})(jQuery);
	
	
