<h1><%= @list.title %></h1>

<% unless @list.description.nil? || @list.description.empty? %>
  <h3><%= @list.description %></h3>
<% end %>  

<%= render "todos/todo_form" %>

<% unless @list.todos.empty? %>
<div class="span-20">  
  <ul class="todos">
    <%= render @list.todos %>
  </ul>
</div>
<% end %>  
