# Mac Stuff
.DS_Store

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
# Ignore eventual Precompiled assets
/public/assets

# Ignore all logfiles and tempfiles.
webrat.log
/log/*.log
/tmp
.rvmrc

# ignore foreman environment
.env
