<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluarlize(object.errors.count, "error") %> prevented saving</h2> 
    <p>There where problems with the following fields:</p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>