<h1>About</h1>

<p>
  Todobadour sets out to be managing todos as easy as doodle does for meetings, hope you enjoy!
</p>

<p>
  Any feedback is greatly appriciated just email to <a href="mailto:hello@cospired.com">hello@cospired.com</a>
</p>
