<div class="todo-form">
<%= form_for [@list, @todo], :remote => true do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div>
    <%= f.text_field :title, :class => "submittable" %>
  </div>
  <div>
    <%= f.submit "Add" %>
  </div>
<% end %>
</div>