<div class="todo-form">
<%= form_for [@list, @todo] do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div class="span-9">
    <%= f.text_field :title %>
  </div>
  <div class="action span-5">
    <%= f.submit "Add" %>
  </div>
<% end %>
</div>