body {
  font-family: $lucida-grande;
}

a {
  color: #909090;
  text-decoration: none;
  @include transition (color 0.5s ease-in 0s);
  &:hover {
    color: #ff5533;
  }
}

#{$all-text-inputs} {
  font-size: 18px;
  border: none;
  border-bottom: 1px dashed;
  &:focus {
    outline: none;
  }
}

.container {
  @include outer-container;
  @include span-columns(6);
  @include shift(3);
  color: #444;
  font-size: 18px;
}

.content {
  padding: 50px 0;
}

.button {
  @include button(#444);
}

.header {
  @include span-columns(6);
  border-bottom: 1px solid;
  z-index: 100;
  background-color: #fff;
  position: fixed;
  top: 0;
  height: 50px;
  line-height: 50px;
}

.footer {
  @include span-columns(6);
  border-top: 1px solid;
  z-index: 100;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  height: 50px;
  line-height: 50px;
}


