.purr {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #ddd;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 0 0 -8px;
  font-size: 1.2em;
  overflow: visible;
}
